{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Про нас{% endblock %}

{% block content %}
    <dif class="about">
        <div id="tekst_sverhu_kartinki">
            <img src="{% static 'main/img/about.jpg' %}" alt="foto">
            <div class="tekst_sverhu_kartinki"><h1>Про школу</h1>
        <p>Была создана 22 февраля 2015 года. Идеей для создания школы, послужила ЛЮБОВЬ к ФУТБОЛУ. История нашего футбола началась с 2012 года. На тот момент в Узбекистане ещё не было частных школ по этому виду спорта. Основная цель футбольного клуба</p>
        <h2>CHELANO</h2>
        <p>состоит не только обучить навыкам владения мяча и подготовить физически,
        но и прививать любовь к мировому виду спорта. В нашей школе мы обучаем детей с 15 до 18 лет:</p>
        <h3>БОЛЬШОМУ ФУТБОЛУ, МИНИ-ФУТБОЛУ.</h3>
        <p>Так же от нашей частной школы есть взрослая команда 2 ЛИГА, возраст от 16 лет и старше. Тренировочный процесс проходит на высоком уровне. Учащийся спортсмен обучается по авторской спец программе международного уровня.
        Это позволяет ему попасть в ТОП команды Азии и Европы.</p>
        <h4>"Не важно в каком клубе вы состоите и каким спортом занимаетесь, главное что бы вы отдавали все свои силы и душу основному направлению!"</h4>
        <p>На данное время наш стаж работы с детьми составляет 10 лет. Работая с детьми получаешь не только опыт но и удовольствие
        Мы гордимся нашими воспитанниками, где бы они не находились, мы рады что они не бросили футбол и продолжают играть</p>
            </div>
        </div>
    </dif>
{% endblock %}